<html>
    <head>
        <%- include("__bootstrap.ejs") %>
        <style>
            body {
                background-image: url("/images/New.png");
                background-size: cover;
                background-repeat: round;
                
            }
        </style>
    </head>
    <body>
        <%- include("__header.ejs") %>
    </body>
</html>
