
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Assign Task</title>
    <%- include("__bootStrap.ejs") %>
    <style>
      body {
        background-color: #f8f9fa;
      }
      .task-form {
        max-width: 1000px;
        margin: 50px auto;
        background: white;
        padding: 25px;
        border-radius: 8px;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
      }
      .form-control {
        border-radius: 6px;
        padding: 5px;
      }
      .btn-success {
        width: 100%;
        font-size: 18px;
        padding: 10px;
        border-radius: 6px;
      }
    </style>
  </head>
  <body>
    <%- include("__header.ejs")%>
    
        <!--  Role -->
        <div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
            <div class="card p-4 shadow-lg rounded-3" style="width: 30%; background-color: #f5f7fa;">
          <form action="/task/assign" method="post">
          
            <label class="fw-bold">Assign to User</label>
            <select class="form-control" name="userId" >
                <option>Select User</option>
                <%for(let user of usersList){ %>
                    <option value="<%=user.id%>"><%=user.name%></option>
                    <%}%>
            </select>
            <!-- Submit Button -->
            <button type="submit" class="btn btn-success">Next</button>
          
        </form>
        
      </div>
    </div>
  </body>
</html>